<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ .Permalink }}">

    {{ $title := print .Title " | " .Site.Title -}}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end -}}
    <title>{{ $title }}</title>
    <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">

    {{ $cssOptions := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") -}}
    {{ $styles := resources.Get "scss/styles.scss" | toCSS $cssOptions | fingerprint -}}
    <link rel="stylesheet" type="text/css" href="{{ $styles.Permalink | relURL }}" integrity="{{ $styles.Data.Integrity }}">

    <link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}rss/" title="{{ .Site.Title }}">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" href="/favicon.png">
    <link rel="icon" href="/favicon.ico">

    {{- if not (in (string .Site.BaseURL) "localhost") }}
    <!-- fathom -->
    <script src="https://rhinoceros.krieger.io/script.js" site="VXRCGSRU" defer></script>
    {{ end }}
</head>
<body>
    <div class="container">
        <header class="top">
            <a class="text--lg" href="/"><strong>cody krieger</strong></a>
        </header>
        <main>
            {{ block "main" . }}{{- end }}
        </main>
        <footer class="bottom deemphasized prose top-border-4px">
            <hr />
            <aside class="float-left">
                cody krieger,<br />
                <span class="label">software architect</span>
            </aside>
            <nav class="float-right align-right">
                {{- range where .Site.RegularPages "Type" "==" "pages" }}
                <a href="{{ .Permalink | relURL }}">{{ .Title }}</a><br />
                {{- end }}
            </nav>
            <div class="clear"></div>
        </footer>
    </div>
</body>
</html>
