<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title == null or page.title == "" %}{{ site.name }}{% else %}{{ page.title }} &mdash; {{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">

    <link href="https://micro.blog/cjk" rel="me" />

    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/syntax.css">

    <script type="text/javascript" src="//use.typekit.net/elx5pso.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div class="container">
      <div class="site">
        <header>
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          <nav>
          </nav>
        </header>

        <section class="content-body">
          {{ content }}
        </section>

        <footer>
          <div class="contact">
            <p>
              cody krieger,
              <span class="label">software architect</span><br />
              <span class="label">email:</span> cody <strong>at</strong> krieger <strong>dot</strong> io<br />
              <span class="label">pgp key:</span> <a href="/assets/pgp-key.txt" title="2C41 BDAB 1CCA 6C19 E9AA EA2B 7BB7 8ABD D378 65E5">D37865E5</a>
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="https://github.com/codykrieger">github.com/codykrieger</a><br />
              <a href="https://twitter.com/codykrieger">twitter.com/codykrieger</a><br />
            </p>
          </div>
        </footer>

      </div> <!-- /site -->
    </div> <!-- /container -->

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4e3b31ae613f5d0445000003');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
