<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% title %}</title>
    <meta name="viewport" content="width=device-width">

    <script type="text/javascript" src="//use.typekit.net/elx5pso.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% css_asset_tag global %}
    - /_assets/stylesheets/syntax.css.scss
    - /_assets/stylesheets/styles.css.scss
    {% endcss_asset_tag %}
  </head>
  <body>

    <div class="container">
      <div class="site">
        <header>
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          <a class="extra" href="/">home</a>
        </header>

        {% header_title %}

        <section class="content-body">
          {{ content }}
        </section>

        <footer>
          <div class="contact">
            <p>
              &copy; 2013 cody krieger<br />
              email: cody <strong>at</strong> krieger <strong>dot</strong> io
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="https://github.com/codykrieger">github.com/codykrieger</a><br />
              <a href="http://twitter.com/codykrieger">twitter.com/codykrieger</a>
            </p>
          </div>
        </footer>

      </div>
    </div> <!-- /container -->

  </body>
</html>
